@import url("https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300;500;700&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

section{
    margin-bottom: 80px;
}

.container{
    max-width: 1286px;
}

a{
    text-decoration: none;
}


/*----- Title Bar -----*/
.title-bar::before{
  content: "";
  position: absolute;
  left: 0;
  top: -2.7px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #5e2ced;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-name: title-bg-left;
}

@keyframes title-bg-left{
  0%{
    transform: translateX(0) scale(1);
  }
  100%{
    transform: translateX(88px) scale(2);
  }

}





/*----- Header -----*/


.show_searchbar{
  display: block; 
}
/* .form{
    position: absolute;
    height: 610px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: none;
    z-index: 99;
} */
.show_form{
    display: block;
}
/* .form_container{
    height: 100%;
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */
/* .form_main{
    height: 450px;
    width: 420px;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 16px;
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(30px);
    padding: 0 3%;
    border: 1px solid rgba(255, 255, 255, 0.5);
    position: relative;
    overflow: hidden;
} */

/* #close_form{
    color: #000;
    font-size: 1.9rem;
    position: absolute;
    top: -5px;
    right: -6px;
    padding: 15px 18px;
    background-color: #fff;
    border-radius: 12px;
    cursor: pointer;
} */
/* .email,.password{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
} */
/* .email label{
    margin-top: 20px;
}

label{
    color: #fff;
    margin-bottom: 5px;
}
.email input,.password input{
    height: 45px;
    width: 350px;
    border-radius: 10px;
    margin-bottom: 20px;
    outline: none;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.107);
    border: 1px solid rgba(255, 255, 255, 0.591);
    color: #fff;
} */
/* .email input::placeholder,.password input::placeholder{
    color: #fff;
}
.form_main a{
    margin-top: -8px;
    margin-bottom: 15px;
    color: #fff;
}
.form_main p{
    color: #5e2ced;
}
button{
    height: 40px;
    width: 100%;
    background-color: #5e2ced;
    border-radius: 20px;
    border: none;
    color: #fff;
    margin-top: 25px;
    transition: .5s;
}
.form h1{
    color: #fff;
    font-size: 2.3rem;
    margin-top: -6%;
} */
/*----- HERO -----*/
/* .main{
  height: 530px;
  width: 100%;
} */
/* .wrapper .slide{
  overflow: hidden;
  width: 100%;
  height: 100%;
} */
.slide::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.nav-btn::before,
.nav-btn::after{
  color: transparent;
}


/*----- ADMISSION -----*/
.admission-part{
    box-shadow: .4rem .4rem 1rem #ccc,
    -.4rem -.4rem 1rem #fff;
}
.admission-part:hover{
    box-shadow: .4rem .4rem 1rem #ccc inset,
    -.4rem -.4rem 1rem #fff inset;
}


/*----- OUR COURSE -----*/
/* .course-heading h2{
    position: relative;
    margin: 0 auto;
}
.course-heading h2::after{
    content: '';
    position: absolute;
    background-color: #5e2ced;
    width: 65px;
    height: 6px;
    border-radius: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    top: 60px;
    margin: 0 auto;
} */
.custom-row a:hover{
    background: linear-gradient(135deg, rgba(222, 212, 251) 0%,rgba(94, 44, 237) 100%);
    color: #fff !important;
}

/*----- COUNTER UP -----*/
/* .counter-up{
background: url(../image/counterup.jpg) no-repeat;
min-height: 300px;
display: flex;
justify-content: center;
align-items: center;
width: 100%;
margin: 0 auto ;
background-size: cover;
background-attachment: fixed;
position: relative;
} */
.counter-up::before{
position: absolute;
content: '';
top: 0;
left: 0;
height: 100%;
width: 100%;
background: rgba(0, 0, 0, 0.8);
}
/* .counter-up .content{
position: relative;
z-index: 1;
flex-wrap: wrap;
display: flex;
width: 100%;
height: 100%;
margin: 0 auto;
align-items: center;
justify-content: space-between;
} */
/* .content .box{
width: calc(25% - 30px);
border-radius: 5px;
padding: 20px;
display: flex;
align-items: center;
justify-content: space-evenly;
flex-direction: column;
border-radius: 5px;
} */
/* .content .box .icon{
background-color: #ccc;
width: 60px;
height: 60px;
display: flex;
align-items: center;
justify-content: center;
border-radius: 50px;
font-size: 35px;
color: #6a7695;
} */
/* .content .box .counter{
font-size: 35px;
color: #5e2ced;
font-weight: 700;
font-family: sans-serif;
} */
/* .content .box .text{
color: #ccc;
font-weight: 400;
font-size: 20px;
} */


/*----- ISOTOP -----*/
.menu li.active{
    background-color: #5e2ced;
    color: #fff;
    border: 0;
}

/*----- OUR REVIEW -----*/
/* .site{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
} */
/* .review{
    max-width: 1100px;
    width: 100%;
    padding: 0px;
    margin: 0 auto;
} */
/* .testi{
    max-width: 900px;
    margin: 0 auto;
} */
.testi .thumbnail{
    width: 150px;
    height: 150px;
    position: relative;
    flex-shrink: 0;
}
.testi .thumbnail::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% + 30px);
    height: calc(100% + 10px);
    background-color: #5e2ced;
    border-radius: 33% 67% 50% 50% / 50% 14% 86% 50%;
    z-index: -1;
    box-shadow: 2px 3px 10px 8px rgb(188, 187, 187);
}
/* .testi .thumbnail img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
} */
/* .testi .review-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    padding: 30px 0;
} */
/* .testi .aside{
    position: relative;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    width: 700px;
    margin: 0 auto;
} */
.testi .aside > p{
    position: relative;
    font-size: 14px;
    line-height: normal;
    margin-bottom: 30px;
    padding: 15px;
}
.testi .aside > p::before,
.testi .aside > p::after{
    font-family: serif;
    font-size: 80px;
    font-weight: 800;
    line-height: 1;
    position: absolute;
    color: rgba(8, 8, 8, 0.178);
    height: 40px;
    z-index: -1;
}
.testi .aside > p::before{
    content: open-quote;
    top: -40px;
    left: 0;
}
.testi .aside > p::after{
    content: close-quote;
    right: 0;
}
/* .testi .aside .name{
    position: relative;
    width: fit-content;
    line-height: 1;
}
.testi .aside .name h4{
    font-size: 22px;
    font-weight: 800;
    opacity: .8;
    color: #5e2ced;
}
.testi .aside .name p{
    font-size: 12px;
    text-align: right;
} */
.testi :is(.swiper-button-next, .swiper-button-prev){
    color: #5e2ced;
    top: 40%;
    width: 10px;
    height: 10px;
}
.testi :is(.swiper.button-next, .swiper-button.prev)::after{
    font-size: 10px;
    font-weight: 800;
    color: grey;
}

/*----- Different Thinks -----*/


/*----- FOOTER -----*/
/* .new_footer_area {
    background: #fbfbfd;
} */
/* .new_footer_top {
    padding: 100px 0px 200px;
    position: relative;
    overflow-x: hidden;
} */
/* .footer_bottom {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    color: #7f88a6;
    padding: 27px 0px;
} */
/* .new_footer_top .company_widget p {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: #6a7695;
    margin-bottom: 20px;
} */
/* .new_footer_top .company_widget .f_subscribe_two .btn_get {
    border-width: 1px;
    margin-top: 20px;
} */
/* .btn_get_two:hover {
    background: transparent;
    color: #5e2ced;
}
.btn_get:hover {
    color: #fff;
    background: #6754e2;
    border-color: #6754e2;
    -webkit-box-shadow: none;
    box-shadow: none;
} */
a:hover, a:focus, .btn:hover, .btn:focus, button:hover, button:focus {
    text-decoration: none;
    outline: none;
}
.new_footer_top .f_widget.about-widget .f_list li a:hover {
    color: #5e2ced;
}
.new_footer_top .f_widget.about-widget .f_list li {
    margin-bottom: 11px;
}
.f_widget.about-widget .f_list li:last-child {
    margin-bottom: 0px;
}
.f_widget.about-widget .f_list li {
    margin-bottom: 15px;
}
.f_widget.about-widget .f_list {
    margin-bottom: 0px;
}
.new_footer_top .f_social_icon a {
    width: 44px;
    height: 44px;
    line-height: 43px;
    background: transparent;
    border: 1px solid #e2e2eb;
    font-size: 24px;
}
.f_social_icon a {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    font-size: 14px;
    line-height: 45px;
    color: #858da8;
    display: inline-block;
    background: #ebeef5;
    text-align: center;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.ti-facebook:before {
    content: "\e741";
}
.ti-twitter-alt:before {
    content: "\e74b";
}
.ti-vimeo-alt:before {
    content: "\e74a";
}
.ti-pinterest:before {
    content: "\e731";
}
.btn_get_two {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #5e2ced;
    border-color: #5e2ced;
    color: #fff;
}
.btn_get_two:hover {
    background: transparent;
    color: #5e2ced;
}
.new_footer_top .f_social_icon a:hover {
    background: #5e2ced;
    border-color: #5e2ced;
  color:white;
}
.new_footer_top .f_social_icon a + a {
    margin-left: 4px;
}
.new_footer_top .f-title {
    margin-bottom: 30px;
    color: #263b5e;
}
.f_600 {
    font-weight: 600;
}
.f_size_18 {
    font-size: 18px;
}
h1, h2, h3, h4, h5, h6 {
    color: #4b505e;
}
.new_footer_top .f_widget.about-widget .f_list li a {
    color: #6a7695;
}
.new_footer_top .footer_bg {
    position: absolute;
    bottom: 0;
    background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEigB8iI5tb8WSVBuVUGc9UjjB8O0708X7Fdic_4O1LT4CmLHoiwhanLXiRhe82yw0R7LgACQ2IhZaTY0hhmGi0gYp_Ynb49CVzfmXtYHUVKgXXpWvJ_oYT8cB4vzsnJLe3iCwuzj-w6PeYq_JaHmy_CoGoa6nw0FBo-2xLdOPvsLTh_fmYH2xhkaZ-OGQ/s16000/footer_bg.png") no-repeat scroll center 0;
    width: 100%;
    height: 266px;
}
.new_footer_top .footer_bg .footer_bg_one {
    background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEia0PYPxwT5ifToyP3SNZeQWfJEWrUENYA5IXM6sN5vLwAKvaJS1pQVu8mOFFUa_ET4JuHNTFAxKURFerJYHDUWXLXl1vDofYXuij45JZelYOjEFoCOn7E6Vxu0fwV7ACPzArcno1rYuVxGB7JY6G7__e4_KZW4lTYIaHSLVaVLzklZBLZnQw047oq5-Q/s16000/volks.gif") no-repeat center center;
    width: 330px;
    height: 105px;
    background-size:100%;
    position: absolute;
    bottom: 0;
    left: 30%;
    -webkit-animation: footer_bg 22s linear infinite;
    animation: footer_bg 22s linear infinite;
}
.new_footer_top .footer_bg .footer_bg_two {
    background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhyLGwEUVwPK6Vi8xXMymsc-ZXVwLWyXhogZxbcXQYSY55REw_0D4VTQnsVzCrL7nsyjd0P7RVOI5NKJbQ75koZIalD8mqbMquP20fL3DxsWngKkOLOzoOf9sMuxlbyfkIBTsDw5WFUj-YJiI50yzgVjF8cZPHhEjkOP_PRTQXDHEq8AyWpBiJdN9SfQA/s16000/cyclist.gif") no-repeat center center;
    width: 88px;
    height: 100px;
    background-size:100%;
    bottom: 0;
    left: 38%;
    position: absolute;
    -webkit-animation: footer_bg 30s linear infinite;
    animation: footer_bg 30s linear infinite;
}
@-moz-keyframes footer_bg {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}
@-webkit-keyframes footer_bg {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}
@keyframes footer_bg {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}






/*--============================ ABOUT PAGE START================================--*/
/* #mission .mission_menu {
    border-radius: 15px;
    padding-top: 30px;
    padding-bottom: 28px;
  } */

  /* #mission .mission_menu ul {
    border: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  } */

  /* #mission .mission_menu ul li {
    display: block;
  } */

  #mission .mission_menu ul li button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    color: #605f62;
    border: none;
    border-radius: 0;
    text-align: left;
    padding-left: 27px;
    width: 100%;
    line-height: 54px;
    -webkit-transition: all linear 0.3s;
    transition: all linear 0.3s;
    border-left: 4px solid transparent;
    font-family: 'Inter', sans-serif !important;
  }

  #mission .mission_menu ul li button svg {
    margin-right: 23px;
    -webkit-transition: all linear 0.3s;
    transition: all linear 0.3s;
  }

  #mission .mission_menu ul li button svg path {
    -webkit-transition: all linear 0.3s;
    transition: all linear 0.3s;
    fill: rgba(0, 0, 0, 0.27);
  }

  #mission .mission_menu ul li button:hover {
    border-left: 4px solid #5e2ced;
    background: #fff;
    -webkit-transition: all linear 0.3s;
    transition: all linear 0.3s;
  }

  #mission .mission_menu ul li button:hover svg path {
    fill: #5e2ced;
  }

  #mission .mission_menu ul li button.active {
    border-left: 4px solid #5e2ced;
  }

  #mission .mission_menu ul li button.active svg path {
    fill: #5e2ced;
  }
  
  #mission .mission_menu #myTab img{
    padding: 3px;
  }

  #mission .mission_body h3 {
    color: #5e2ced;
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;

    padding-bottom: 12px;
  }

  #mission .mission_body p {
    color: #605f62;
    text-align: left;
    padding-left: 8px;
  }

  #mission .mission_body p span {
    padding: 15px 0;
    display: block;
  }

  #mission .mission_img {
    text-align: center;
  }

  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    background: none;
  }


  /*----- Free Seminer Section -----*/
  /* .bg-wrapper {
    height: 100%;
    width: 101.9%;
    background: linear-gradient(180deg, #04fafd, 5%, #119dff, 50%, #5e2ced );
    position: relative;
  } */
  .bg-wrapper .bg-animation {
    height: 60px;
    width: 60px;
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 50px;
    position: absolute;
    top: 10%;
    left: 10%;
    animation: 4s linear infinite;
  } 
   .bg-animation .dot {
    height: 10px;
    width: 10px;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 20%;
    right: 20%;
  }
  .bg-wrapper .bg-animation:nth-child(1) {
    top: 20%;
    left: 20%;
    animation: animate 8s linear infinite;
  }
  .bg-wrapper .bg-animation:nth-child(2) {
    top: 60%;
    left: 80%;
    animation: animate 10s linear infinite;
  }
  .bg-wrapper .bg-animation:nth-child(3) {
    top: 40%;
    left: 40%;
    animation: animate 3s linear infinite;
  }
  .bg-wrapper .bg-animation:nth-child(4) {
    top: 66%;
    left: 30%;
    animation: animate 7s linear infinite;
  }
  .bg-wrapper .bg-animation:nth-child(5) {
    top: 90%;
    left: 10%;
    animation: animate 9s linear infinite;
  }
  .bg-wrapper .bg-animation:nth-child(6) {
    top: 30%;
    left: 60%;
    animation: animate 5s linear infinite;
  }
  .bg-wrapper .bg-animation:nth-child(7) {
    top: 70%;
    left: 20%;
    animation: animate 8s linear infinite;
  }
  .bg-wrapper .bg-animation:nth-child(8) {
    top: 75%;
    left: 60%;
    animation: animate 10s linear infinite;
  }
  .bg-wrapper .bg-animation:nth-child(9) {
    top: 50%;
    left: 50%;
    animation: animate 6s linear infinite;
  }
  .bg-wrapper .bg-animation:nth-child(10) {
    top: 45%;
    left: 20%;
    animation: animate 10s linear infinite;
  }
  .bg-wrapper .bg-animation:nth-child(11) {
    top: 10%;
    left: 90%;
    animation: animate 9s linear infinite;
  }
  .bg-wrapper .bg-animation:nth-child(12) {
    top: 20%;
    left: 70%;
    animation: animate 7s linear infinite;
  }
  .bg-wrapper .bg-animation:nth-child(13) {
    top: 20%;
    left: 20%;
    animation: animate 8s linear infinite;
  }
  .bg-wrapper .bg-animation:nth-child(14) {
    top: 60%;
    left: 5%;
    animation: animate 6s linear infinite;
  }
  .bg-wrapper .bg-animation:nth-child(15) {
    top: 90%;
    left: 80%;
    animation: animate 9s linear infinite;
  }
  @keyframes animate {
    0% {
      transform: scale(0) translateY(0) rotate(70deg);
    }
    100% {
      transform: scale(1.3) translateY(-100px) rotate(360deg);
    }
  }
  



  /*--===================================== Service Page Start ===========================================*/

  